* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  text-align: center;
  background-color: #212121;
  color: white;
}
.heading {
  font-size: 4.5rem;
  font-weight: 700;
  /* color: #333; */
}
.heading span {
  color: hsl(0, 0%, 100%);
  text-shadow: 0 0 10px hsl(0, 0%, 100%), 0 0 20px hsl(0, 0%, 100%),
    0 0 40px hsl(0, 0%, 100%);
}
.container {
  width: 1180px;
  height: 100vh;
  margin: 10px auto;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.paragraph {
  width: 70%;
  height: auto;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 1.2px;
  margin-top: 30px;
}
/* Button */
/* From cssbuttons.io by @ShadowShahriar */
button {
  --border-radius: 15px;
  --border-width: 4px;
  appearance: none;
  position: relative;
  padding: 1em 2em;
  border: 0;
  background-color: #212121;
  font-family: "Roboto", Arial, "Segoe UI", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  z-index: 2;
  margin-top: 20px;
}

button::after {
  --m-i: linear-gradient(#000, #000);
  --m-o: content-box, padding-box;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: var(--border-width);
  border-radius: var(--border-radius);
  background-image: conic-gradient(
    #488cfb,
    #29dbbc,
    #ddf505,
    #ff9f0e,
    #e440bb,
    #655adc,
    #488cfb
  );
  -webkit-mask-image: var(--m-i), var(--m-i);
  mask-image: var(--m-i), var(--m-i);
  -webkit-mask-origin: var(--m-o);
  mask-origin: var(--m-o);
  mask-clip: var(--m-o);
  -webkit-mask-clip: var(--m-o);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  filter: hue-rotate(0);
  animation: rotate-hue linear 500ms infinite;
  animation-play-state: paused;
}

button:hover::after {
  animation-play-state: running;
}

@keyframes rotate-hue {
  to {
    filter: hue-rotate(1turn);
  }
}

button,
button::after {
  box-sizing: border-box;
}

button:active {
  --border-width: 5px;
}

/* End of button */
img {
  width: 100%;
  height: 100%;
}
.image {
  margin: 18px auto;
  display: inline-block;
  width: 350px;
  height: 400px;
  background-color: red;
}
